{{> head }}

    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Black Flag</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae laborum eius nesciunt modi impedit delectus cupiditate in! Vel, quos iusto commodi delectus pariatur ex dolor, voluptatum quod cumque, nulla animi!
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/img.jpg" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer }}